asgiref==3.9.1
attrs==25.3.0
Brotli==1.1.0
build==1.3.0
captcha==0.7.1
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
coreschema==0.0.4
defusedxml==0.7.1
diff-match-patch==20241021
distlib==0.4.0
dj-database-url==3.0.1
Django==5.2.5
django-auditlog==3.2.1
django-cleanup==9.0.0
django-cors-headers==4.7.0
django-extensions==4.1
django-import-export==4.3.9
django-ranged-response==0.2.0
django-simple-captcha==0.6.2
django-simple-history==3.10.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.28.0
drf-yasg==1.21.10
et_xmlfile==2.0.0
filelock==3.19.1
gunicorn==23.0.0
h11==0.16.0
idna==3.10
inflection==0.5.1
iniconfig==2.1.0
itypes==1.2.0
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
ldap3==2.9.1
MarkupPy==1.18
MarkupSafe==3.0.2
numpy==2.3.0
odfpy==1.4.1
openpyxl==3.2.0b1
packaging==25.0
pandas==2.3.0
parso==0.8.4
pillow==11.3.0
pip-review==1.3.0
pip-tools==7.5.0
platformdirs==4.3.8
pluggy==1.6.0
psycopg==3.2.9
psycopg-binary==3.2.9
psycopg-pool==3.2.6
psycopg2-binary==2.9.10
pudb==2025.1
pyasn1==0.6.1
Pygments==2.19.2
PyJWT==2.10.1
pyproject_hooks==1.2.0
pytest==8.4.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.4
rpds-py==0.25.1
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tablib==3.8.0
tabulate==0.9.0
tika==3.1.0
typing_extensions==4.14.1
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
urwid==3.0.2
urwid_readline==0.15.1
uvicorn==0.34.3
virtualenv==20.31.2
wcwidth==0.2.13
wheel==0.46.1
whitenoise==6.9.0
xlrd==2.0.2
xlwt==1.3.0
